html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
  
}

.activity-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.transform-shadow {
  box-shadow: 0 2px 4px darkslategray;
}
.transform-shadow:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(1px);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bi-telephone-inbound-fill 
{
margin: 5px;
}
.phone-number {
  color: #333333;
  font-family: inherit;
  font-size: inherit;
  font-weight: 800;
  margin: 5px;
}

.call-detail {
  font-family: inherit;
  font-size: 13px;
  margin: 5px;

}

.phone-container {
  margin: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #f4f4f3;
  transition: background-color 0.5s ease-out 100ms;
  cursor: pointer;
}
.phone-container:hover {
  background-color: #f4f4f3;
}
.divider {
  display: flex;
}

.divider:before 
{
  content: "";
  flex: 1;
}
.divider:after {
  content: "";
  flex: 1;
}

.one-line:before{
  background: black;
  background: linear-gradient(to right, rgba(15, 11, 11, 0), rgb(230, 223, 223));
  
}
  
.one-line:after {
  background: black;
  background: linear-gradient(to left, rgba(15, 11, 11, 0), rgb(230, 223, 223));
}

.line {
  align-items: center;
  margin-top: 5px;
  
}
.line:before
{
  height: 1px;
  margin: 0 1em;
}
.line:after {
  height: 1px;
  margin: 0 1em;
}

.transform-uppercase {
  text-transform: uppercase;
}


.constraint {
  width:600px;
  border:1px;
}
button {
  outline:none;
  background: none;
  border:0;
  cursor: none;
}
.bi-three-dots-vertical {
  cursor: pointer;
  margin: 10px;
color: black;
}


